examples/wamp_example_1.json
[
    {
        "id": "98746cf9d65204bf",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bdcb7058a39ef2dd",
        "type": "wamp subs",
        "z": "98746cf9d65204bf",
        "router": "0da727c664b1f238",
        "procedure": "msg.topic",
        "name": "Event Subscription Handler",
        "x": 540,
        "y": 200,
        "wires": [
            [
                "52a0c6eb921f8a1c"
            ]
        ]
    },
    {
        "id": "8b6ed2eccfd7f700",
        "type": "inject",
        "z": "98746cf9d65204bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "a1acfc8f69b3a941"
            ]
        ]
    },
    {
        "id": "a1acfc8f69b3a941",
        "type": "function",
        "z": "98746cf9d65204bf",
        "name": "Setup Trace",
        "func": "var msg = {};\nvar dirno = '101';\n\nconst delay = (/** @type {number} */ ms) => new Promise(res => context.set(\"timer\", setTimeout(res, ms)))\nconst waitingTime = 1000;\n\nmsg.topic = \"com.zenitel.call\";\nnode.send(msg);\nawait delay(waitingTime);\n\nmsg.topic = \"com.zenitel.call_leg\";\nnode.send(msg);\nawait delay(waitingTime);\n\nmsg.topic = \"com.zenitel.device.\" + dirno + \".gpi\";\nnode.send(msg);\nawait delay(waitingTime);\n\nmsg.topic = \"com.zenitel.device.\" + dirno + \".gpo\";\nnode.send(msg);\nawait delay(waitingTime);\n\nmsg.topic = \"com.zenitel.system.device_account\";\nnode.send(msg);\nawait delay(waitingTime);\n\nmsg.topic = \"com.zenitel.system.open_door\";\nnode.send(msg);\nawait delay(waitingTime);\n\n\n//return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "bdcb7058a39ef2dd"
            ]
        ]
    },
    {
        "id": "52a0c6eb921f8a1c",
        "type": "switch",
        "z": "98746cf9d65204bf",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "com.zenitel.call",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "com.zenitel.call_leg",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "gpo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "gpi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "com.zenitel.system.device_account",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "com.zenitel.system.open_door",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "d60cc542de85551b"
            ],
            [
                "cc116c76c1278164"
            ],
            [
                "d12542813cf5a033"
            ],
            [
                "9bb64fc04a712c29"
            ],
            [
                "da1337d91f40e17a"
            ],
            [
                "a32d0f3dace99077"
            ]
        ]
    },
    {
        "id": "35547fad0f4cd11e",
        "type": "debug",
        "z": "98746cf9d65204bf",
        "name": "Handle Call Event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 60,
        "wires": []
    },
    {
        "id": "c7e7dfb7eb85f989",
        "type": "debug",
        "z": "98746cf9d65204bf",
        "name": "Handle Call Leg Event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 120,
        "wires": []
    },
    {
        "id": "0d01bb7ad16cf3fe",
        "type": "debug",
        "z": "98746cf9d65204bf",
        "name": "Handle GPO Event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 180,
        "wires": []
    },
    {
        "id": "8ab5779ab0b8a783",
        "type": "debug",
        "z": "98746cf9d65204bf",
        "name": "Handle Device Account Event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 300,
        "wires": []
    },
    {
        "id": "dafd6451f2cf9035",
        "type": "debug",
        "z": "98746cf9d65204bf",
        "name": "Handle Open Door Event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 360,
        "wires": []
    },
    {
        "id": "6a3b5d917ffb46d8",
        "type": "debug",
        "z": "98746cf9d65204bf",
        "name": "Handle GPO Event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 240,
        "wires": []
    },
    {
        "id": "d60cc542de85551b",
        "type": "json",
        "z": "98746cf9d65204bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 950,
        "y": 60,
        "wires": [
            [
                "35547fad0f4cd11e"
            ]
        ]
    },
    {
        "id": "cc116c76c1278164",
        "type": "json",
        "z": "98746cf9d65204bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 950,
        "y": 120,
        "wires": [
            [
                "c7e7dfb7eb85f989"
            ]
        ]
    },
    {
        "id": "d12542813cf5a033",
        "type": "json",
        "z": "98746cf9d65204bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 950,
        "y": 180,
        "wires": [
            [
                "0d01bb7ad16cf3fe"
            ]
        ]
    },
    {
        "id": "9bb64fc04a712c29",
        "type": "json",
        "z": "98746cf9d65204bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 950,
        "y": 240,
        "wires": [
            [
                "6a3b5d917ffb46d8"
            ]
        ]
    },
    {
        "id": "da1337d91f40e17a",
        "type": "json",
        "z": "98746cf9d65204bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "8ab5779ab0b8a783"
            ]
        ]
    },
    {
        "id": "a32d0f3dace99077",
        "type": "json",
        "z": "98746cf9d65204bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 950,
        "y": 360,
        "wires": [
            [
                "dafd6451f2cf9035"
            ]
        ]
    },
    {
        "id": "0da727c664b1f238",
        "type": "wamp-client",
        "address": "wss://192.168.240.100:8086",
        "realm": "zenitel",
        "authId": "erik",
        "password": "mortensen",
        "name": "Zenitel Connect"
    }
]